html {
  display: table;
  margin: auto;
}
body{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#titulo{
  margin: 0 auto;
  color: #5c6bc0;
}

#parrafo {
  margin: 20px auto;
  border: solid 1px #64b5f6;
  width: 60%;
  border-radius: 5%;
  color: #5c6bc0;
  padding: 10px 10px 10px 10px;
  background-color: #e3f2fd;
}

#Principal{
  margin: 20px auto;
  border: solid 1px #64b5f6;
  width: 100%;
  border-radius: 5%;
  color: #5c6bc0;
  padding: 20px 10px 20px 10px;
  background: #e3f2fd;
}

#nombres, #mail{
  margin-top: 20px;
  margin-left: 10px;
}
#genero {
  margin-top: 20px;
  margin-left: 10px;
}
#bottom {
  margin-top: 20px;
  margin-left: 10px;
}
#numerodos {
  margin: 0 auto;
  border: solid 1px #64b5f6;
  width: 100%;
  border-radius: 5%;
  color: #5c6bc0;
  padding: 20px 10px 100px 10px;
  background: #e3f2fd;
}

#detalles, #peticion, #observaciones, #fecha, #mailradicado {
  margin-top: 20px;
  margin-left: 10px;
}
